/*
===================================
Author: Joseph Yi
Project: Fun website

Table of Contents:
1. Universal Elements

2. Hamburger Menu

3. About

4. Mobile Design

5. Enter Button
===================================
*/

/*
===================================
1. Universal Elements
===================================
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    background: url(spf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 120%;
}

/*
===================================
2. Hamburger Menu
===================================
*/

/* Sets the menu in front of all layers*/
nav {
    z-index: 3;
}

#hamburger {
    position: absolute;
    width: 400px;
    height: 100%;
    background: #2B393A;
    left: -400px;
    transition: 0.5s;
}

#hamburger.active {
    left: 0;
}

#hamburger ul li {
    list-style: none;
    color: white;
    font-size: 25px;
    padding: 20px 1em;
    position: absolute, fixed;
}

#hamburger ul li a:hover{
    cursor: pointer;
    color: #00EFFF;
}


#hamburger .menu {
    position: absolute;
    top: 30px;
    left: 450px;
}

#hamburger .menu:hover {
    cursor: pointer;
    color: white;
    opacity: 0.6;
    transition: 0.9s;
}

.menu:hover {
    cursor: pointer;
}

/* create line */
.menu .line {
    width: 50px;
    height: 6px;
    background: #2B393A;
    display: block;
    margin-top: 6px;
    transition: 0.9s;
    position: relative;
    overflow: hidden;
}

#hamburger .menu .line:hover {
    color: white;
    transition: 0.5s;
    cursor: pointer;
    position: absolute, fixed;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
===================================
3. About
===================================
*/

h1 {
    text-align: center;
    color: #2B393A;
}

#wrapper {
    position: absolute;
    margin-top: 10%;
    left: 40%;
}

img {
    position: absolute;
    height: 250px;
    left: 15%;
    top: 30%;
}