/*
===================================
Author: Joseph Yi
Project: Fun website

Table of Contents:
1. Universal Elements

2. Hamburger Menu

3. Welcome

4. Mobile Design

5. Enter Button
===================================
*/

/*
===================================
1. Universal Elements
===================================
*/

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    background: url(spf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 120%;
}


/*
===================================
2. Hamburger Menu
===================================
*/


/* create line */
nav {
    z-index: 3;
}

#hamburger {
    position: absolute;
    width: 400px;
    height: 100%;
    background: #2B393A;
    left: -400px;
    transition: 0.5s;
}

#hamburger.active {
    left: 0;
}

#hamburger ul li {
    list-style: none;
    color: white;
    font-size: 25px;
    padding: 20px 1em;
    position: absolute, fixed;
}

#hamburger ul li a:hover{
    cursor: pointer;
    color: #00EFFF;
}


#hamburger .menu {
    position: absolute;
    top: 30px;
    left: 450px;
}

#hamburger .menu:hover {
    cursor: pointer;
    color: white;
    opacity: 0.6;
    transition: 0.9s;
}

.menu:hover {
    cursor: pointer;
}

.menu .line {
    width: 50px;
    height: 6px;
    background: #2B393A;
    display: block;
    margin-top: 6px;
    transition: 0.9s;
    position: relative;
    overflow: hidden;
}

#hamburger .menu .line:hover {
    color: white;
    transition: 0.5s;
    cursor: pointer;
    position: absolute, fixed;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
===================================
3. Welcome
===================================
*/

.container {
    transform: translateY(120%);
    text-align: center;
    position: relative;
    display: flex;
    color:#2B393A; 
    justify-content: center;
}

.container h1 {
    margin-top: 10%;
    font-size: 50px;
    transition: 0.9s;
    overflow: hidden;
}

.container h2 {
    font-size: 25px;
    transition: 0.9s;
    overflow: hidden;
}

/*
===================================
4. Mobile Phone
===================================
*/

@media (max-width: 375px) {
    .container h1 {
        margin-top: 40%;
        font-size: 30px;
    }
    
    .container h2 {
        font-size: 15px;
    }


    .menu .line {
        width: 40px;
        height: 4px;
        display: block;
        margin-top: 4px;
    }
    #hamburger {
        width: 200px;
        left: -200px;  
    }
    #hamburger .menu {
        top: 20px;
        left: 230px;
    }
}

/*
===================================
5. Enter Button
===================================
*/

.button {
    border: 4px solid #2B393A;
    background: none;
    padding: 10px 50px;
    margin: 20px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    transition: 0.9s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button:hover {
    color:white;
}

.button:before {
    top:0;
    border-radius: 0 0 40% 40%;
    content: "";
    position: absolute;
    left:0;
    width: 100%;
    height: 0%;
    background: #2B393A;
    z-index: -1;
    transition: 0.9s;
}

.button:hover:before {
    height: 170%;
}