/*
============================
Table of Contents:

1. Universal Elements

2. Container

3. Fade-In Page
============================
*/

/*
============================
1. Universal Elements
============================
*/

/* Set global variables*/
:root {
    --bg:  #364549;
    --bg-accent: #46646C;
    --text-color: white;
    --f-weight: 400;
}

* {
    font-family: 'Lora','serif';
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

/*
============================
2. Container
============================
*/

#joe {
  position: absolute;
  font-size: 225px;
  color: var(--bg);
  opacity: 0.05;
  font-weight: var(--f-weight);
  margin-top: 350px;
}

.container h1 {
    font-size: 40px;
    color: var(--bg);
    font-weight: var(--f-weight);
    font-style: italic;
}

.container h3 {
    color: var(--bg);
    font-weight: var(--f-weight);
    font-style: italic;
    margin-top: 5px;
}

/* #port {
  margin-left: 500px;
} */

#photo {
  position: relative;
  height: 110%;
  transform: translateY(-60px);
  margin-left: 145px;
  transform-origin: 50px 50px;
  transition: 1.0s;
}

#photo:hover {
  opacity: 0.25;
}

#open-text {
    width: 500px;
    margin-left: 15%;
    padding: 24px;
    transform: translateY(18em);
    left: -500px;
    overflow: hidden;
    transition: 1.8s ease-in-out;
}

.enter-btn {
  position: relative;
  border: 2px solid var(--bg);
  font-size: 20px;
  background: none;
  color: var(--bg);
  padding: 8px 40px;
  overflow: hidden;
  transition: 0.7s;
  cursor: pointer;
  transform: translateY(20px);
}

.enter-btn:hover {
  color: white;
  background: var(--bg);
  border-radius: 20px;
}

.dif-text > .wrap {
    border-right: 0.08em solid var(--bg-accent);
}

#box {
    position: fixed;
    background: none;
    height: 100%;
    width: 800px;
    transform: translateY(-8em);
    right: -900px;
    transition: 1.5s ease-in-out;
}

#box.active {
    right: -10px;
}

.model {
  text-align: center;
  font-size: 20px;
  font-weight: var(--f-weight);
  margin-left: 25%;
  opacity: 0;
  z-index: 5;
  transform: translateY(-12em);
  overflow: hidden;
  transition: 0.5s ease-in-out;
  color: var(--bg);
}

#box:hover > .model {
  opacity: 1;
}

#stanley {
  width: 300px;
  overflow: hidden;
  transform-origin: center;
}

#stanley:hover {
  text-align: center;
  cursor: pointer;
  padding: 8px 10px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background-color: var(--bg);
}

#line {
  position: fixed;
  height: 110%;
  background-color: var(--bg);
  opacity: 0.5;
  width: 10px;
  transform: translateY(-7em);
  margin-left: 120px;
  top: -100em;
  transition: 3.5s ease-in-out;
}

#line.active {
  top: 0em;
}


/*
============================
3. Fade-In Page
============================
*/
body {
    animation: fadeIn ease 9s;
    -webkit-animation: fadeIn ease 9s;
    -moz-animation: fadeIn ease 9s;
    -o-animation: fadeIn ease 9s;
    -ms-animation: fadeIn ease 9s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}





