/* 
=====================
Author: Joseph Yi
Date Created: 11/15/2020

1. Universal Elements

2. Site Text

3. Enter Button
=====================
*/

/*
=====================
1. Universal Elements
=====================
*/

* {
    margin: auto;
    padding: 0;
    list-style: none;
    transition-duration: 0.7s;
    transition-timing-function: ease;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;  
}

/*
=====================
2. Site Text
=====================
*/

#joe {
    font-size: 300px;
    font-weight: 500;
    margin-left: 50px;
}

/*
=====================
3. Enter Button
=====================
*/

#enter-btn {
  text-align: center;
  position: relative;
  font-size: 75px;
  font-weight: 200;
  margin-left: 50px;
  padding: 20px 20px;
  width: 30%;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

rect {
  fill: none;
  stroke: black;
  stroke-width: 10px;
  stroke-dasharray: 422, 0;
}

#enter-btn:hover a{
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all .75s cubic-bezier(0.19,1,.3,1);
}

#enter-btn:hover rect {
  stroke-dasharray: 100, 100;
  stroke-dashoffset: 50;
  transition: all 1.0s cubic-bezier(0.19,1,.22,1);
}
